@using PsychToGo.API.DTO;
@using PsychToGo.API.Models;
@model List<Patient>

@{
    ViewData["Title"] = "Patient list";
}


<body class="form-body">
    <div class="assign-container">

        @foreach (var patient in Model)
        {
            <div class="assign-patient-module">
                <span>@patient.Name @patient.LastName </span>
                <a asp-action="AssignMedicineMVC" asp-controller="Patient" asp-route-id="@patient.Id">Assign</a>
            </div>
        }
    </div>
</body>


