@import url('https://fonts.googleapis.com/css?family=Poppins');


@media (min-width: 480px) {
    html {
        font-size: 12px;
    }
}



html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
    background: #FFFFFF;
}




.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sitka Small' , sans-serif;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 32.5%;
    background: linear-gradient(90deg, #b72c2c, brown); 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #FFFFFF;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.7s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}


.navbar a {
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 900;
    margin-right: 20px;
}

.background{
    width:100%;
    height:100vh;
    background:url('img/baard-hansen-jJuYXZdLg84-unsplash.jpg') no-repeat;
    background-size:cover;
    background-position:center;
    filter:blur(5px);
}

.text-sci h2 {
    font-size: 35px;
    font-weight: 800;
    color: aliceblue;
}

.text-sci h2 span {
    font-size: 22px;
    
}

.text-sci p {
    font-size: 16px;
    margin: 20px;
}

.container-homepage .logo {
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
}

.container-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 650px;
    background: url('img/baard-hansen-jJuYXZdLg84-unsplash.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-top: 15px;
}



   

.container-homepage .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 85%;
    background: transparent;
    padding: 70px;
    display:flex;
    justify-content: space-evenly;
    flex-direction:column;
}


.container-homepage .log-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
}

.log-box .form-box{
    display:flex;
    width:100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter:blur(5px);
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 20px;
    color: brown;
}
.log-box .btn {
    width: 100%;
    height: 45px;
    background: brown;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.form-box h2{
    font-size: 38px;
    text-align: center;
}

.form-box .input-box{
    width:300px;
    height:90px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.form-box input{
    width:100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    font-size:16px;
    color: white;
    font-weight:500;
    padding-right: 28px;
}

.input-box label {
    position:relative;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
   
}

