@media (min-width: 480px) {
    html {
        font-size: 12px;
    }

    table {
        width: 90%;
    }
}

html {
    font-size: 17px;
    position: relative;
    min-height: 100%;
    background: #FFFFFF;
}


body::-webkit-scrollbar {
    display: none;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    padding: 10px 32.5%;
    background: #00274d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.7s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

.navbar a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    font-weight: 900;
    margin-right: 12px;
    margin-bottom: 5px;
    color: oldlace;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('img/pexels-sindre-fs-1175136.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.03);
}

.text-sci h2 {
    font-size: 35px;
    font-weight: 800;
    color: aliceblue;
    background-color: brown;
    border: solid thick;
    padding: 15px;
}

    .text-sci h2 span {
        font-size: 22px;
    }

.text-sci p {
    font-size: 16px;
    margin: 20px;
}

.container-homepage .logo {
    font-size: 90px;
    font-weight: 600;
    color:#FFFFFF;
}

.container-homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 650px;
    background: url('img/pexels-sindre-fs-1175136.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-top: 15px;
}

    .container-homepage .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 85%;
        background: transparent;
        padding: 70px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .container-homepage .log-box {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 50%);
        height: 100%;
    }

.log-box .form-box {
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(5px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 20px;
}

.log-box .btn {
    width: 100%;
    height: 45px;
    background: #c84444;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.form-box h2 {
    font-size: 38px;
    text-align: center;
    color:#f2f2f2;
}

.form-box .input-box {
    width: 300px;
    height: 95px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.form-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #f2f2f2;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label {
    position: relative;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color:aliceblue;
    font-weight: 500;
    pointer-events: none;
}

.container-form-create {
    position: center;
}

.form-create {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px;
}

input[type=text], select, textarea {
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form-group ul li {
    font-weight: 700;
}


