@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@media (max-width: 399px) {
    html {
        font-size: 14px;
    }

    table {
        width: 90%;
    }

    .col-md-4 {
        margin-bottom: 0;
    }
}

.error-summary {
    color: red;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url('img/top-view-medical-examination-report-cellphone-medical-equipments-wooden-desk_1387-626.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

span {
    color: #201E20;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

header {
    color: #201E20;
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #201E20;
    padding: 0 0 0 42px;
    background: rgba(255,255,255,0.4);
}

.input-field > i {
    display: flex;
    position: relative;
    top: -31px;
    left: 17px;
    width: 0px;
    color: rgb(128, 128, 128)
}

.nav-items > i {
    display: inline-block;
    margin: 3px 15px;
}

.submit {
    border: none;
    color: #ffffff;
    background-color: #201E20;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

    .submit:hover {
        color: #000000;
        background-color: aliceblue;
    }

nav {
    position: relative;
    background-color: #cbc5b3;
    height: 100vh;
    width: 250px;
}

.dashboard-box {
    display: flex;
    opacity: 0.9;
    float: left;
    position: relative;
    text-transform: uppercase;
}

.nav-items {
    position: relative;
    padding-left: 10px;
    justify-content: flex-start;
    top: 0;
    bottom: 0;
}

a {
    position: relative;
    color: #000000;
    font-size: 14px;
    width: 250px;
}

.table-header {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

    .table-header p {
        font-size: 20px;
        font-weight: bold;
    }

.table-section {
    height: 100%;
    overflow: hidden;
}

table {
    display: table;
    width: 100%;
    table-layout: fixed;
    min-width: 800px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
}

.add-new {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #235ce2;
}

.search-input {
    padding: 10px;
    width: 25%;
    border: 1px solid #000000;
    border-radius: 6px;
    outline: none;
}

.clear-all {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #201E20;
}

button {
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 15px;
}

td button:nth-child(1) {
    background-color: #91acea;
}

td button:nth-child(2) {
    background-color: #e8bf38;
}

td button:nth-child(3) {
    background-color: #ff7d7d;
}

td button:hover {
    background-color: #000000;
    color: white;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #dbdbdb;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #000000;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

tr:hover td {
    cursor: pointer;
    background-color: #00000019;
}

tr {
    background-color: #ffffff;
    position: relative;
}

.form-body {
    height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.container-form, .container-details {
    max-width: 700px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #000000;
}

    .container-details > div {
        margin-bottom: 15px;
    }


.title-form {
    font-size: 25px;
    display: inline-flex;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    position: relative;
}

.container-form form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box-form {
    margin-bottom: 15px;
    width: calc(100% /2 - 20px);
}

    form .user-details .input-box-form span .details {
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
    }

.user-details .input-box-form input, textarea {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box-form textarea {
    height: 100px;
    border-bottom-width: 5px;
    font-size: 12px;
}

form .user-details .input-box-form input:focus,
form .user-details .input-box-form input:valid {
    border-color: #c4b685;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

.input-box-form select {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1rem;
}

.input-box-form .select-list {
    border: 1px solid #000000;
    border-radius: 5px;
    border-bottom-width: 2px;
    width: 100%;
    height: 60%;
}

.dasboard-psychologist{
    background-color:antiquewhite;
    z-index:2;
}

form .button button {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #000000;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.35, 1.07);
    cursor: pointer;
    background-color: #ebcf80;
    border-radius: 20px;
    text-transform: uppercase;
}

    form .button button:hover {
        background: #e0a353;
    }

.psychologist-details,
.psychiatrist-details,
.patient-details,
.medicine-details {
    max-height: 200px;
    overflow-y: auto;
}

.category-details div {
    border: 1px solid #000000;
}

.doctor-details-title {
    font-size: 24px;
    background-color: #e4d5af
}

.details-title {
    font-size: 20px;
    background-color: #e5decc
}

.container-details {
    max-width: 600px;
    min-height: 700px;
}


.patient-details {
    min-height: 600px;
}

.assign-container {
    background-color: #efe8d4;
    min-height: 700px;
    width: 50%;
    border: 1px solid #000000;
    box-shadow: 2px 1px 4px 1px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

    .assign-container > .assign-patient-module {
        background-color: #fffcfc;
        border: 1px solid #0000003e;
        border-radius: inherit;
        box-shadow: 2px 2px 5px 2px;
        margin: 20px 10px 0 10px;
        padding: 0 15px 15px 15px;
        width: 50%;
        align-self: center;
    }

.assign-patient-module span {
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    ;
}

.assign-patient-module a {
    display: block;
    height: 100%;
    width: 50%;
    margin:0 auto;
    text-align: center;
    color: #000000;
    font-weight: 700;
    padding: 10px 25px 10px 25px;
    letter-spacing: 2px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.35, 1.07);
    cursor: pointer;
    background-color: #ebcf80;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px;
    text-transform: uppercase;
}

    .assign-patient-module a:hover {
        background: #e0a353;
    }

@media (max-width:584px) {
    .container-form {
        max-width: 500px;
    }

    form .user-details .input-box-form {
        margin-bottom: 15px;
        width: 100%;
    }

    .container-form form .user-details {
        max-height: 300px;
    }
}
