@{

}


<div class="dashboard-box">
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index"><span class="nav-item">Admin dashboard</span></a></li>
            <li><a asp-controller="Patient" asp-action="Index"><span class="nav-items">Patients</span></a></li>
            <li><a asp-controller="Psychiatrist" asp-action="Index"><span class="nav-items">Psychiatrists</span></a></li>
            <li><a asp-controller="Psychologist" asp-action="Index"><span class="nav-items">Psychologists</span></a></li>
            <li><a asp-controller="Medicine" asp-action="Index"><span class="nav-items">Medicines</span></a></li>
            <li><a asp-controller="Auth" asp-action="Register"><span class="nav-items">Register</span></a></li>
            <li><a asp-controller="Auth" asp-action="Logout"><span class="nav-items">Logout</span></a></li>
        </ul>
    </nav>

</div>


<script src="~/js/patients.js">

</script>