@{

}


<div class="dashboard-box">
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index"><span class="nav-item">Admin dashboard</span></a></li>
            <li><a asp-controller="Patient" asp-action="Index"><span class="nav-items"><i class="fa-solid fa-users"></i>Patients</span></a></li>
            <li><a asp-controller="Psychiatrist" asp-action="Index"><span class="nav-items"><i class="fa-solid fa-user-doctor"></i>Psychiatrists</span></a></li>
            <li><a asp-controller="Psychologist" asp-action="Index"><span class="nav-items"><i class="fa-solid fa-head-side-virus"></i>Psychologists</span></a></li>
            <li><a asp-controller="Medicine" asp-action="Index"><span class="nav-items"><i class="fa-solid fa-pills"></i>Medicines</span></a></li>
            <li><a asp-controller="Auth" asp-action="Register"><span class="nav-items"><i class="fa-solid fa-address-card"></i>Register</span></a></li>
            <li><a asp-controller="Auth" asp-action="Logout"><span class="nav-items"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a></li>
        </ul>
    </nav>

</div>


<script src="~/js/patients.js">

</script>