@using PsychToGo.Models;
@model PatientViewModel

@{
    ViewData["Title"] = "Edit patient";
}

<h1>Edit @Model.Name @Model.LastName</h1>
<hr />

<div class="row">
    <div class="col-md-4 ">
        <form method="post" asp-antiforgery="true">
            <div class="form-floating mb-3 mt-3">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" type="tel" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PsychologistId" class="control-label"></label>
                <input asp-for="PsychologistId" class="form-control" />

            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="MedicineId" class="control-label"></label>
                <input asp-for="MedicineId" class="form-control" />
            </div>
            <div class="form-floating mb-3 mt-3">
                <label asp-for="PsychiatristId" class="control-label"></label>
                <input asp-for="PsychiatristId" class="form-control" />
            </div>

        </form>
    </div>
</div>