@model PsychToGo.DTO.PsychologistDTO

@{
    ViewData["Title"] = "Create psychologist";
}

<h1 class="text-center text-black">Create Psychologist</h1>

<hr />
<body>
    <form class="form-create" method="post" asp-antiforgery="true">
        <input asp-for="Id" hidden />

        <div>
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter name" value="@Model.Name" type="text" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="LastName" class="control-label">Last name</label>
            <input asp-for="LastName" class="form-control" placeholder="Enter last name" value="@Model.LastName" type="text" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Email" class="control-label">E-mail</label>
            <input asp-for="Email" class="form-control" placeholder="Enter e-mail" type="email" value="@Model.Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Phone" class="control-label">Phone</label>
            <input asp-for="Phone" class="form-control" placeholder="Enter phone number" type="tel" required />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="DateOfBirth" class="control-label">Date of birth</label>
            <input asp-for="DateOfBirth" min="1960-01-01" placeholder="Enter date of birth" class="form-control" type="date" required />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Address" class="control-label">Address</label>
            <input asp-for="Address" class="form-control" type="text" placeholder="Enter address" name="Address" required />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div>
            <button class="btn btn-outline-primary" asp-action="CreatePsychologistMVC">Create</button>
            <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Psychologist">Back</a>
        </div>

    </form>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}

