@using PsychToGo.API.Models;
@using PsychToGo.API.DTO;
@model List<Patient>

@{
    ViewData["Title"] = "Assign Patients";
}

<body class="form-body">
    <div class="assign-container">
        @if (!Model.Any())
        {
            <span>All your patients already have psychiatrist.</span>
        }
        else
        {
            @foreach (var patient in Model)
            {
                <div class="assign-patient-module">
                    <span>@patient.Name @patient.LastName </span>
                    <a asp-action="AssignPsychiatristMVC" asp-controller="Patient" asp-route-id="@patient.Id">Assign</a>
                </div>
            }
        }
    </div>
</body>


