
<div class="dashboard-box">
    <nav>
        <ul>
            <li><a asp-controller="Home" asp-action="Index"><span class="nav-item">Patient dashboard</span></a></li>
            <li><a asp-controller="Patient" asp-action="PatientProfileInfo"><span class="nav-items"><i class="fa-regular fa-id-card"></i>Profile</span></a></li>
            <li><a asp-controller="Auth" asp-action="Logout"><span class="nav-items"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a></li>
        </ul>
    </nav>
</div>