@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app is still in progress. If you encounter any errors, please contact our tech support.</p>
    <h4 class="text-danger">To see tabs you have to <strong>Log In</strong></h4>
</div>
