  @using PsychToGo.API.DTO;
@inject IHttpContextAccessor httpAccessor
@model LoginRequestDTO

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>


<body> 


        @if (httpAccessor.HttpContext.Session.GetString( "JWTToken" ) != null &&
        httpAccessor.HttpContext.Session.GetString( "JWTToken" ).ToString().Length > 0)
        {
            // Display after login
            
        }
        else
        {
            @await Component.InvokeAsync("Login");

       }
        
    
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
