@using PsychToGo.API.DTO;
@model MedicineDTO

@{
    ViewData["Title"] = "Create medicine";
}

<h1 class="text-center text-black">Create Medicine</h1>


<hr />




<body>
    <form class="form-create" method="post" asp-antiforgery="true">

        <input asp-for="Id" hidden />

        <div>
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter name" type="text" required />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ProductionDate" class="control-label">Production date</label>
            <input asp-for="ProductionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" placeholder="Enter production date" type="date" required />
            <span asp-validation-for="ProductionDate" class="text-danger"></span>

        </div>

        <div>
            <label asp-for="ExpireDate" class="control-label">Expire date</label>
            <input asp-for="ExpireDate" min="@DateTime.Today.ToString("yyyy-MM-dd") + 1" class="form-control" placeholder="Enter expire date" type="date" required />
            <span asp-validation-for="ExpireDate" class="text-danger"></span>

        </div>

        <div>
            <label asp-for="DailyDose" class="control-label">Daily dose </label>
            <input asp-for="DailyDose" placeholder="Enter daily dose" class="form-control" type="number" required />
            <span asp-validation-for="DailyDose" class="text-danger"></span>

        </div>

        <div>
            <label asp-for="InStock" class="control-label">In stock </label>
            <input asp-for="InStock" placeholder="Enter in stock value" class="form-control" type="number" required />
            <span asp-validation-for="InStock" class="text-danger"></span>

        </div>

        <div>
            <label asp-for="CategoryId" class="control-label">Category </label>
            <input asp-for="CategoryId" placeholder="Enter in category id" class="form-control" type="number" required />

        </div>

        <div>
            <label asp-for="Description" class="control-label">Description</label>
            <textarea asp-for="Description" rows="4" class="form-control " placeholder="Enter description" required></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <div>
            <label asp-for="Ingredients" class="control-label">Ingredients</label>
            <textarea asp-for="Ingredients" rows="4" class="form-control" type="text" placeholder="Enter ingredients" required></textarea>
            <span asp-validation-for="Ingredients" class="text-danger"></span>
        </div>


        <div>
            <button asp-action="CreateMedicineMVC" class="btn btn-primary ">Create</button>
            <a class="btn btn-primary " asp-action="Index">List</a>
        </div>


    </form>
</body>



@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
