@using PsychToGo.API.DTO;
@model MedicineDTO

@{
    ViewData["Title"] = "Create medicine";
}

<body class="form-body">
    <div class="container-form">
        <div class="title-form">Create patient</div>
        <div class="form-content">

            <form method="post" asp-antiforgery="true">

                <div asp-validation-summary="All" class="error-summary"></div>
                <input asp-for="Id" hidden />

                <div class="user-details">
                    <div class="input-box-form">
                        <span class="details">Name</span>
                        <input type="text" asp-for="Name" placeholder="Enter name.." required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Category Id</span>
                        <input asp-for="CategoryId" type="number" required />
                    </div>

                    <div class="input-box-form">
                        <span class="details">Production Date</span>
                        <input asp-for="ProductionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" required />
                    </div>

                    <div class="input-box-form">
                        <span class="details">Expire Date</span>
                        <input asp-for="ExpireDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" type="date" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Daily Dose</span>
                        <input asp-for="DailyDose" type="number" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">In Stock</span>
                        <input asp-for="InStock" type="number" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Description</span>

                        <textarea type="text" asp-for="Description" placeholder="Enter description..." rows="4" required></textarea>
                    </div>
                    <div class="input-box-form">
                        <span class="details">Ingredients</span>
                        <textarea type="text" asp-for="Ingredients" placeholder="Enter ingredients..." rows="4" required></textarea>
                    </div>
                </div>
                <div class="button">
                    <button asp-action="CreateMedicineMVC" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>








@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}