@using PsychToGo.DTO;
@model MedicineDTO

@{
    ViewData["Title"] = "Create medicine";
}

<h1>Create medicine</h1>


<hr />
<div class="row">
    <div class="col-md-3">
        <form method="post"  asp-antiforgery="true" class="was-validated">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Id" hidden />
            <div class="form-floating mb-3 mt-3">
                <input asp-for="Name" class="form-control" placeholder="Enter name" type="text" required />
                <label asp-for="Name" class="control-label">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 mt-3">
                <input asp-for="ProductionDate" max="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" placeholder="Enter production date" type="date" required />
                <label asp-for="ProductionDate" class="control-label">Production date</label>
                <span asp-validation-for="ProductionDate" class="text-danger"></span>

            </div>
            <div class="form-floating mb-3 mt-3">
                <input asp-for="ExpireDate" min="@DateTime.Today.ToString("yyyy-MM-dd") + 1" class="form-control" placeholder="Enter expire date" type="date" required />
                <label asp-for="ExpireDate" class="control-label">Expire date</label>
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">

                <input asp-for="DailyDose" placeholder="Enter daily dose" class="form-control" type="number" required />
                <label asp-for="DailyDose" class="control-label">Daily dose </label>
                <span asp-validation-for="DailyDose" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 mt-3">

                <input asp-for="InStock" placeholder="Enter in stock value" class="form-control" type="number" required />
                <label asp-for="InStock" class="control-label">In stock </label>
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-3">

                <input asp-for="CategoryId" placeholder="Enter in category id" class="form-control" type="number" required />
                <label asp-for="CategoryId" class="control-label">Category </label>

            </div>
            <div class="form-control mb-3 mt-3">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" rows="4" class="form-control " placeholder="Enter description" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-control mb-3 mt-3">
                <label asp-for="Ingredients" class="control-label">Ingredients</label>
                <textarea asp-for="Ingredients" rows="4" class="form-control" type="text" placeholder="Enter ingredients" required></textarea>

                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="btn-group mb-2 mt-2">

                <button asp-action="CreateMedicineMVC" class="btn btn-outline-primary mt-1">Create</button>
                <a class="btn btn-outline-primary mt-1" asp-action="Index">Back</a>
            </div>

        </form>


    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}
