@inject IHttpContextAccessor httpAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>




    @RenderBody()



    @if (httpAccessor.HttpContext.Session.GetString("JWTToken") != null &&
    httpAccessor.HttpContext.Session.GetString("JWTToken").ToString().Length > 0)
    {

        @if (User.IsInRole("admin"))
        {
            @await Component.InvokeAsync("Admin")
            
        }


        @if (User.IsInRole("psychologist"))
        {
            <a asp-controller="Psychologist" asp-action="GetPsychologistPatients">Patients list</a>
        }
        @if (User.IsInRole("psychiatrist"))
        {
            <a asp-controller="Psychiatrist" asp-action="GetPsychiatristPatients">Patients list</a>
            <a asp-controller="Medicine" asp-action="Index">Medicines</a>

        }
        @if (User.IsInRole("patient"))
        {
            <a asp-controller="Patient" asp-action="PatientProfileInfo">Profile</a>
        }

    }




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
