@inject IHttpContextAccessor httpAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>



    @if (httpAccessor.HttpContext.Session.GetString("JWTToken") != null &&
    httpAccessor.HttpContext.Session.GetString("JWTToken").ToString().Length > 0)
    {

        @if (User.IsInRole("admin"))
        {
            @await Component.InvokeAsync("Admin")

        }


        @if (User.IsInRole("psychologist"))
        {
            @await Component.InvokeAsync("Psychologist")
        }
        @if (User.IsInRole("psychiatrist"))
        {
            
           @await Component.InvokeAsync("Psychiatrist")

        }
        @if (User.IsInRole("patient"))
        {
            <a asp-controller="Patient" asp-action="PatientProfileInfo">Profile</a>
        }

    }

    @RenderBody()

    <script src="https://kit.fontawesome.com/ba60151366.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
