@model PatientViewModel

@{
    ViewData["Title"] = "Create Patient";
}

<body class="form-body">
    <div class="container-form">
        <div class="title-form">Create patient</div>
        <div class="form-content">

            <form method="post" asp-antiforgery="true">

                <div asp-validation-summary="All" class="error-summary"></div>
                <input asp-for="Id" hidden />

                <div class="user-details">
                    <div class="input-box-form">
                        <span class="details">Name</span>
                        <input type="text" asp-for="Name" placeholder="Enter name.."  required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Surname</span>
                        <input type="text" asp-for="LastName" placeholder="Enter last name.."  required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Day of birth</span>
                        <input type="date" asp-for="DateOfBirth" placeholder="Enter your birthday.."   max="@DateTime.Today.ToString("yyyy-MM-dd")" required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">E-mail</span>
                        <input type="email" asp-for="Email" placeholder="Enter email.."  required />       
                    </div>
                    <div class="input-box-form">
                        <span class="details">Phone</span>
                        <input type="tel" asp-for="Phone" placeholder="Enter phone.."  required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Address</span>
                        <input type="text" asp-for="Address" placeholder="Enter address.."  required />
                    </div>
                    <div class="input-box-form">
                        <span class="details">Psychologist</span>
                        <div class="select-list">
                            
                            @Html.DropDownListFor(model => model.PsychologistId, new SelectList(Model.Psychologists, "Id","Name"),"- Select - ")
                        </div>

                    </div>
                    <div class="input-box-form ">
                        <span class="details">Psychiatrist</span>
                        <div class="select-list">
             
                            @Html.DropDownListFor(model => model.PsychiatristId, new SelectList(Model.Psychiatrists, "Id","Name"),"- Select - ")
                        </div>

                    </div>
                    <div class="input-box-form">
                        <span class="details">Medicine</span>
                        <div class="select-list">
                          
                            @Html.DropDownListFor(model => model.MedicinesId, new SelectList(Model.Medicines, "Id","Name"), "- Select -")
                        </div>
                        

                    </div>
                </div>
                <div class="button">
                    <button asp-action="CreatePatientMVC" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>








@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
