@using PsychToGo.API.Models;
@using PsychToGo.API.DTO;
@model PatientViewModel

@{
    ViewData["Title"] = "Details";

}


<body class="details-page">
    <div class="details-container" >
        <div class="credentials-patient">
            <div class="details">
                <span> TEST</span>
            </div>
            <div class="details">
                <span> TEST</span>
            </div>
            <div class="details">
                <span> TEST</span>
            </div>
            <div class="details">
                <span> TEST</span>
            </div>
            <div class="details">
                <span> TEST</span>
            </div>
            <div class="details">
                <span> TEST</span>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
